# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database
*.sqlite3
*.sqlite3-journal

# Static files
/static/

# Media files
/media/
